.footerContainer {
    background-color: #444444;  
    width: 100%;
    min-height: 450px;
    position: fixed;          
  }
  .footerBottom {
    background-color: #666666;  
    width: 100%;
    min-height: 100px;
    position: relative;
    top: 270px;        
  }  