.footerLink {    
    a {
        color: azure;
        text-decoration: none;
        line-height: 1.8;
        font-size: 14px;
        text-align: -webkit-left;
        margin-left: 15px;
    }
}
.footerSection {
    width: 25%;
    float: left;
    color: azure;
    margin-top: 20px;        
}