.footerSocialIcon {    
    div {
        display: inline-block;
        margin: 6px;
    }    
}
.footerSocial {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}
.footerSection {
    width: 25%;
    float: left;
    color: azure;
}

